body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef2f5;
}

header {
    background-color: #3a5169;
    color: white;
    text-align: center;
    padding: 20px;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.social-icons {
    display: flex;
    gap: 10px; /* Space between icons */
}

.social-icons img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1); /* Slightly enlarge the icons on hover */
    opacity: 0.8; /* Fade effect */
}

nav {
    display: flex;
    justify-content: center;
    background-color: #2c3e50;
    padding: 10px;
}

nav button {
    background-color: #5a7994;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: #789bb5;
}

.content-section {
    max-width: 800px;
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

h2 {
    color: #2c3e50;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #eef2f5;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

article {
    margin-bottom: 20px;
}
